.item-count{
    display:flex;
    align-items:center;
    gap:22px;
    margin-top:25px;
}

.counter{
    display:flex;
    align-items:center;
    justify-content:center;

    width:120px;
    height:42px;
    padding:0 8px;

    background:#0f0f11;
    border:1px solid #3a3a3a;
    border-radius:10px;
}

.counter button{
    width:36px;
    height:40px;

    background:none;
    border:none;

    color:white;
    font-size:18px;

    cursor:pointer;
    transition:.2s;
}

.counter button:hover{
    color:#9d4edd;
}

.counter span{
    width:40px;
    text-align:center;

    color:white;
    font-size:20px;
    font-weight:600;
}
